{% load socialaccount %}
{% with activity.object as panel %}
<div class="activity">
  <div class="row">
    <div class="user-container col-xs-2">
      <div class="user-info">
        <a href="/user/{{ panel.user.username }}">
        {% if accounts %}
          <img class="panel-profile img-responsive" alt="Responsive image" class="user-picture" src="{{ accounts.github.0.extra_data.avatar_url }}">
        {% else %}
          <img class="panel-profile img-responsive" alt="Responsive image" src="{{ panel.user.userprofile.picture.url }}">
        {% endif %}
        </a>
      </div>
    </div>
    <div class="activity-text col-xs-10">
        <div class="user-name">
          <a href="/user/{{ panel.author.pk }}">{{ panel.author.username }}</a> <span class="time-paneled">{{ panel.created_at }}</span>
        </div>
      {% autoescape off %}
        {{ panel.text }}
      {% endautoescape %}
    </div>
    <div class="activity-text col-xs-10">
        <ul>
          {% for comment in panel.comments_set.all %}
          <li>
              {{ comment }}
          </li>
          {% endfor %}
        </ul>
        {% include 'stream_panel/_comments.html' %}
    </div>
  </div>
</div>
{% endwith %}
